@import url('reset.css');
@import url('typography.css');

body {
	background-color: #f8f8f8;
	margin: auto;
	width: 100%;
}

/* Status Bar */

div#status-bar {
	background: url('../img/status-bar-bg.png') repeat-x;
	border-bottom: 2px groove #ffffff;
	height: 40px;
	width: 100%;
}

div#status-bar-content { margin: 10px auto 0px auto; width: 800px; }

div#status-bar-commands { width: 400px; }

form#search-form { float: right; width: 200px; }

p#welcome { float:left; padding-top: 7px; width: 150px; }

p#action-bar {
	background: url('../img/action-bar-bg.png') no-repeat;
	height: 14px;
	margin-left:200px;
	padding: 8px 28px;
	width: 154px;
}

p#action-bar a:before { content: '|  '; }

p#action-bar a[title="License"]:after { content: '  |'; }

form#search-form input[type="text"] {
	background: url(../img/search-field.png) no-repeat;
	border:none;
	height:20px;
	padding: 5px 0px 0px 30px;
	width:170px;
}

form#search-form input[type="submit"] { display: none; }

/* Header */

div#header {
	background: url('../img/header-image.png') no-repeat center;
	background-color: #6eb9cc;
	border-bottom: 2px ridge #ffffff;
	height: 250px;
	width: 100%;
}

div#logo {
	margin: auto;
	padding-top: 35px;
	width: 800px;
}

/* Content */
div#content {
	margin: auto;
	padding-bottom: 50px;
	position: relative;
	width: 800px;
}

div#content-top-shadow {
	background: url('../img/content-top-shadow.png') repeat-x;
	height: 20px;
	width: 100%;
}

div#content-bottom-shadow {	
	background: url('../img/content-bottom-shadow.png') repeat-x;
	clear: both;
	height: 20px;
	width: 100%;
}

/* Page Wrapper */

div#page-wrapper {
	background-color: #ffffff;
	border: 1px solid #bababa;
	clear: both;
	height: 233px;
	margin-top: 75px;
	overflow: hidden;
	padding: 15px;
	width: 768px;
}

/* Slideshow */

div#slideshow {
	border-right: 1px solid #b2b2b2;
	float: left;
	padding-right: 15px;
	width: 375px;
}

div#slides {
	border: 1px solid #a7a7a7;
	height: 200px;
	width: 370px;
}

div#slides a.thumb {
	display:none;
}

div#slides a.default-slide {
	display:block;
}

div#slideshow-commands {
	background: url('../img/commands-bg.png') no-repeat;
	height: 19px;
	left: 15px;
	padding: 3px 25px;
	position: relative;
	width: 290px;	
}

a#previous-slide {
	background: url('../img/commands-previous-slide.png') no-repeat;
	display: block;
	float: left;
	height: 12px;
	margin-top: 2px;
	text-indent: -9000px;
	width: 9px;
}

a#next-slide {
	background: url('../img/commands-next-slide.png') no-repeat;
	display: block;
	float: right;
	height: 12px;
	margin-top: 2px;
	text-indent: -9000px;
	width: 9px;
}

div#slideshow-commands h4
{
	margin-top:1px;
	width:100%;
}

/* Message */

div#message {
	margin-left: 410px;
	width: 350px;
}

div#message h3 {
	margin-bottom: 20px;
}

p#contact-info span {
	display: block;
}

span#phone {
	background: url('../img/phone-icon.png') no-repeat 0px 1px;
	float: left;
	margin-top: 25px;
	padding-left: 35px;
	width: 125px;
}

span#address {
	background:url('../img/address-icon.png') no-repeat 160px 30px;
	padding:5px 0px 0px 195px;
}

/* Tabs */

ul#tabs {
	margin-top: 30px;
	position: absolute;
	right: 0px;
	top: -65px;
}

ul#tabs li {
	background: url('../img/tabs-sprite.png') no-repeat;
	float: left;
	height: 35px;
	margin-right: 1px;
	width: 70px;
}

ul#tabs li a {
	display: block;
	height: 100%;
	text-indent: -9000px;
	width: 100%;
}

ul#tabs li#previous {
	background-position: 0px 0px;
	width:80px;
}

ul#tabs li#previous:hover {
	background-position: 0px -40px;
}

ul#tabs li#previous.current, ul#tabs li#previous:active {
	background-position: 0px -80px;
}

ul#tabs li#home {
	background-position: -80px 0px;
}

ul#tabs li#home:hover {
	background-position: -80px -40px;
}

ul#tabs li#home.current, ul#tabs li#home:active {
	background-position: -80px -80px;
}

ul#tabs li#portfolio {
	background-position: -150px 0px;
}

ul#tabs li#portfolio:hover {
	background-position: -150px -40px;
}

ul#tabs li#portfolio.current, ul#tabs li#portfolio:active {
	background-position: -150px -80px;
}

ul#tabs li#about {
	background-position: -220px 0px;
}

ul#tabs li#about:hover {
	background-position: -220px -40px;
}

ul#tabs li#about.current, ul#tabs li#about:active {
	background-position: -220px -80px;
}

ul#tabs li#contact {
	background-position: -290px 0px;
}

ul#tabs li#contact:hover {
	background-position: -290px -40px;
}

ul#tabs li#contact.current, ul#tabs li#contact:active {
	background-position: -290px -80px;
}

ul#tabs li#next {
	background-position: -360px 0px;
	width: 65px;
}

ul#tabs li#next:hover {
	background-position: -360px -40px;
}

ul#tabs li#next.current, ul#tabs li#next:active {
	background-position: -360px -80px;
}

/* Blog Module */

div#blog {
	float: left;
	margin: 50px 15px 0px 0px;
	width: 385px;
}

div#blog h4.module-header-bar {
	background: url('../img/blog-header-bar.png') no-repeat;
	height: 29px;
	margin-bottom: 15px;
	padding-top: 13px;
	width: 385px;
}

div#blog div.blog-entry {
	margin-left:15px;
}

div#blog div.blog-entry h5 {
	float:left;
	width:200px;
}

div#blog div.blog-entry blockquote {
	clear:both;
	padding:10px 0px 10px 15px;
}

div#blog div.blog-entry p.meta {
	padding-top:4px;
}

p#read-more-wrapper {
	float:right;
	margin-top:10px;
	width:215px;
}

p#read-more-wrapper a {
	background:url('../img/read-more-button.png') no-repeat;
	border:none;
	display:block;
	height:30px;
	text-indent:-9000px;
	width:214px;
}

p#read-more-wrapper a:hover {
	background-position: 0px -30px;
}

p#read-more-wrapper a:active {
	background-position: 0px -60px;
}

/* Twitter Module */

div#twitter {
	margin: 38px 0px 0px 415px;
	width: 375px;
}

div#twitter h4.module-header-bar {
	background: url('../img/twitter-header-bar.png') no-repeat;
	height: 40px;
	padding-top: 26px;
	width: 385px;
}

div#twitter div.tweet {
	margin: 3px 0px 17px 30px;
}

div#twitter div.tweet img {
	border: 1px solid #757575;
	float: left;
	height: 29px;
	margin-right: 15px;
	width: 29px;
}

div#twitter div.tweet h5 {
	position: relative;
	top: -3px;
}

p#get-tweets-wrapper {
	float:right;
	margin-top:9px;
	width:215px;
}

p#get-tweets-wrapper a {
	background: url('../img/get-more-tweets-button.png') no-repeat;
	border: none;
	display: block;
	height: 30px;
	text-indent: -9000px;
	width: 214px;
}

p#get-tweets-wrapper a:hover {
	background-position: 0px -30px;
}

p#get-tweets-wrapper a:active {
	background-position: 0px -60px;
}

/* Footer */

div#footer-image {
	background: url('../img/footer-image.png') no-repeat center #6eb9cc;
	border-top: 2px groove #ffffff;
	border-bottom:2px ridge #ffffff;
	height:50px;
	width:100%;
}

p#footer-text {
	background: url('../img/content-top-shadow.png') repeat-x;
	height: 37px;
	padding-top: 13px;
	width: 100%;
}